<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main:index' %}">{{ site_title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'main:index' %}">Principal</a></li>
                    {% if perms.contacts.can_list_entity %}
                        <li><a href="{% url 'contacts:entities-list' %}">Clientes y Proveedores</a></li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        -->
                    {% endif %}
                    {% if perms.materials.can_list_rawmaterial or perms.materials.can_list_workforce or perms.materials.can_list_packaging or perms.materials.can_list_label %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Insumos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if perms.materials.can_list_rawmaterial %}<li><a href="{% url 'materials:rawmaterials-list' %}">Materias Primas</a></li>{% endif %}
                                {% if perms.materials.can_list_workforce %}<li><a href="{% url 'materials:workforces-list' %}">Mano de Obra</a></li>{% endif %}
                                {% if perms.materials.can_list_packaging %}<li><a href="{% url 'materials:packagings-list' %}">Envases</a></li>{% endif %}
                                {% if perms.materials.can_list_label %}<li><a href="{% url 'materials:labels-list' %}">Etiquetas</a></li>{% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Bienvenido {% firstof user.full_name user.username %}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Portal Administrativo</a></li>
                            {% endif %}
                            <li><a href="{% url 'main:password-change' %}">Cambiar Contrase&ntilde;a</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'main:logout' %}">Salir</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'main:login' %}">Iniciar Sesi&oacute;n</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>